<mjml>
  <mj-head>
    <mj-preview>Welcome to your onboarding at GitLab</mj-preview>
  </mj-head>
  <mj-body>
    <!-- Header -->
    <mj-section>
      <mj-column>

        <mj-image src="https://gitlab.com/gitlab-com/people-group/employment-templates/-/raw/e1a3eb67e282a218a7187b43ca58705ccee85473/onboarding-email.png"></mj-image>
        </mj-column>
    </mj-section>
     <!-- /Header -->

		<mj-section>
      <mj-column>
        <mj-text font-size="20px" color="#380d75">
          Hi `__FIRST_NAME__`,
        </mj-text>

        <mj-text font-size="14px">
          Welcome to GitLab! We're so excited that you've joined our team!
        </mj-text>

         <mj-text font-size="14px">
           Okta is our identity and authentication portal, which you will use to access most of your cloud-based applications, including your GitLab email account. You should have received an invitation email from GitLab about Okta within the last day. Please follow the instructions in that email to activate your account. For further information about how GitLab uses Okta, please check out the <a href='https://about.gitlab.com/handbook/business-technology/okta/'>handbook page</a>.
           </mj-text>

        <mj-text>
					(If you can't find the Okta activation email, please firstly check your Spam/Junk Folders or other folders in case your email client has filed it somewhere. The IT Ops team can assist if you are unable to find it or if the token has expired. Please email <a href='mailto:itops@gitlab.com?cc=people-connect@gitlab.com'>itops@gitlab.com</a>, and cc people-connect@gitlab.com for visibility.)
        </mj-text>
        
                 <mj-text font-size="14px">
           Once you have successfully created and logged into Okta, you will have access to all applications, but most importantly, the option to log into your email account by simply clicking the Gmail app. Next step would be to search for your GitLab.com/org invitation in your email account and click join now.
           </mj-text>
        
                <mj-text font-size="14px">
        	Please make sure to create a new GitLab.com account dedicated for your work at GitLab. It's important to keep this new account separate from any personal projects or engagements as this new account will be disabled on leaving GitLab. <b>Please ensure not to use Okta or GoogleSSO to create a GitLab account</b>, the account will not have the correct permission level to get into your onboarding issue.
        </mj-text>

         <mj-divider border-color="#fca326" border-width="1px"></mj-divider>

        <mj-text font-size="14px">
          To be as helpful as possible, we created the following <a href='https://youtu.be/wu0w7x6kW2s'>video</a> to help you understand how to start your onboarding process.
           </mj-text>

        <mj-text font-size="14px">
					Once you have completed the quick tasks listed in the video, you will be ready to access your <a href='`__GITLAB_ISSUE_LINK__`'>Onboarding Issue</a>. Please be sure to complete all the <b>Day 1 tasks</b> assigned to you (i.e., "New Team Member") in your Onboarding Issue today, your first day, as they are critical to adding you to payroll and benefits.
        </mj-text>
        <mj-button background-color="#fc6d26" href="`__GITLAB_ISSUE_LINK__`">Onboarding Issue</mj-button>

        <mj-divider border-color="#fca326" border-width="1px"></mj-divider>

      <mj-text font-size="14px">
        Please be aware, At GitLab, we're prolific at documenting what we do in our handbook, the website, and in GitLab documentation. This may make it difficult to find specific pieces of content and find answers to questions. As you go through your first day, week, and so on, it will be helpful to read the <a href='https://about.gitlab.com/handbook/tools-and-tips/searching/'>Searching the GitLab website like a Pro</a> page to better understand how to search our documentation to find answers to your questions.
        </mj-text>


        <mj-text font-size='14px'>Thank you and congratulations again for joining the team!</mj-text>
        <mj-text font-size='14px'>All the best,</mj-text>
        <mj-text font-size='14px'>`__PEOPLE_EXPERIENCE_NAME__`</mj-text>
      </mj-column>
    </mj-section>
  </mj-body>
</mjml>
